.faq{
    margin: 1em;
    padding: 1em;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
}

details{
    border-bottom: 1px solid rgba(0,0,0,0.5);
    padding-bottom: 1em;
}

summary{ 
  padding: 1em;
  list-style: none 
}

summary::after {
  content: ''; 
  display: inline-block;
  width: 1em; 
  height: 1em;
  background-image: url("../starter-code/images/icon-arrow.svg"); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  vertical-align: middle; 
  transition: transform 0.2s ease-in-out; 
}

details[open] > summary::after {
    transform: rotate(90deg);
}
