.nav-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-tab-list{
  list-style: none;
  display: grid;
  place-content: center;
  gap: 2rem;
  text-align: center;
  padding: 1.5rem 5%;
}

.nav-tab-item{
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  padding-top: 1rem;
}

.nav-tab-item:last-child{
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding-bottom: 2rem;
}

.tablinks {
  color:grey;
  font-weight: bold;
  text-decoration: none;
}

.tablinks:hover {
  padding:2rem;
  border-bottom: 4px solid red
}

.tablinks.active {
  padding:2rem;
  border-bottom: 4px solid red;
}



@media (min-width: 1050px)  {

  nav-tab{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .nav-tab-list{
    display: flex;
    flex-direction: row;
  }
  .nav-tab-item{
    border: none;
  }

  .nav-tab-item:last-child{
    border: none;
  }

}