header{
    padding-top: 2.2em;
    padding-left: 2.2em;
    padding-right: 4em;
    padding-bottom: 1em;
}

.nav-container{
    width: min(90%, 75em);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    --icon-toggle-menu: url("../starter-code/images/icon-hamburger.svg");
    --transform-menu-show: translate(-100%)
}

.nav-container:has(.nav-input:checked){
    --icon-toggle-menu: url("../starter-code/images/icon-close.svg");
    --transform-menu-show: translate(0)
}

.nav-figure{
    width: 12em;
}

.nav-figure, .nav-toggle{
    z-index: 10;
}

.nav-toggle{
    width: 1.08em;
    height: 1em;
    background-image: var(--icon-toggle-menu) ;
    background-size: cover;
    cursor: pointer;
    transition: background-image .5s;
}

.nav-input{
    display: none;
    width: 40px;
    height: 40px;
}

.nav-list{
    transform: var(--transform-menu-show);
    position: fixed;
    inset: 0;

    display: grid;
    place-content: center;
    gap: 2rem;
    text-align: center;

    padding: 1.5rem 5%;
    background-color: #2f354f;
    list-style: none;
    transition: .5s transform;
}

.nav-item{
    border-top: 1px solid rgba(255,255,255,0.25);
    padding: 2em;
}

.nav-item:last-child{
    font-weight: bold;
    border: 2px solid white;
    border-radius: 5px;
}

.nav-link{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

@media (min-width: 1050px)  {

    .nav-container{
        --icon-toggle-menu: none;
        --transform-menu-show: none;
    }

    .nav-list{
        display: inline-flex;
        align-items: flex-end;
        justify-content: flex-end;
        position: absolute;
        height: 6em;
        background-color: white;
    }

    .nav-item{
        border: none;
        padding: 1em;
    }

    .nav-item:last-child{
        font-weight: bold;
        background-color: #f45d5d;
        border: none;
    }

    .nav-link{
        color: black;
    }

    .login-button{
        color:white;
    }

}