.intro{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.intro-button-firefox{
    background-color: lightgrey;
    color: black;
    box-shadow: 0px 3px 3px rgba(0, 0, 255, 0.25);
}

.blue-figure{
    width: 70%;
    height: 200px;
    position: absolute;
    top: 20em;
    right: 0;
    bottom: 0;
    border-bottom-left-radius: 9999px;
    background-color: hsl(231 69% 60% / 1 );
    z-index: -1;
}

/*
 width: 300px;
    height: 150px;
    background-color: #5266df;
    border-bottom-left-radius: 7em;
    margin-top: 10px;
*/