main{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 3em;
    padding-right: 3em;
}

h1, h2{
    padding-bottom: 0.5em;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.5em;
}


p{
    color: grey;
    text-align: center;
    line-height: 1.5em;
}

button{
    background-color: #5266df;
    border: none;
    padding: 1em 1.5em;
    cursor: pointer;
    border-radius: 5px;
    margin: 0.5em;

    color: white;
    font-weight: bold;
}

.section{
    margin-top: 3em;
    margin-bottom: 3em;
}
